ion-content {
  --padding-top: 16px;

  .content-col {
    --ion-grid-column-padding: 0px;
  }

  .user-image {
    --size: 100px;
    margin: auto;
   --border: 1px solid white;
    --border-radius: 50%;
  }

  .user-name {
    text-align: center;
  }

  .list{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
  }

  .btn{
    margin: 20px;
  }
}
